Feature requirements

- Implement a "simple number class"
- The number should have an "add" method
- The number should have an "multiply" method
- The number should raise an exception if initialized with invalid type
- The results can be fetched a URL
